*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    direction: rtl;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}
.modal{
    width: 400px;
    height: 250px;
    padding:30px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.5);
    background-color: blanchedalmond;
    transform: translateY(-320px);
    transition: all ease-in-out 0.5s;
}
.btn{
    padding: 10px;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1rem;
    outline:none;
    align-items: center;
    margin: 5px auto;
    justify-content: center;
    display: flex;
    border:none;
    cursor: pointer;
}